<h1 class="text-center">Projects</h1>
<div class="container my-3">
  <mat-tab-group (selectedIndexChange)="onSelectedIndexChange($event)" [selectedIndex]="getSelectedIndex()"
                 dynamicHeight>
    <mat-tab label="*">
      <mat-list>
        <mat-list-item *ngFor="let projectRole of projectRoles">
          <h3 mat-line> {{projectRole.project.name}}</h3>
          <a [routerLink]="['/projects/',projectRole.project.id,'tasks']" class="inheritColor">
            <button mat-icon-button>
              <mat-icon>list</mat-icon>
            </button>
          </a>
          <ng-container *ngIf="projectRole.name === 'ADMIN'">
            <a [routerLink]="['/projects/',projectRole.project.id]" class="inheritColor">
              <button mat-icon-button>
                <mat-icon>settings</mat-icon>
              </button>
            </a>
          </ng-container>
          <button (click)="openProjectRolesDialog(projectRole.project)" mat-icon-button>
            <mat-icon>group</mat-icon>
          </button>
          <a class="inheritColor">
            <button mat-icon-button>
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </a>
        </mat-list-item>
      </mat-list>
      <button (click)="openAddProjectDialog()" color="primary" mat-fab style="float: right">
        <mat-icon>add</mat-icon>
      </button>
    </mat-tab>

    <mat-tab *ngFor="let teamProject of projectsTeam" [label]="teamProject.team.name">
      <mat-list>
        <mat-list-item *ngFor="let project of teamProject.projects">
          <h3 mat-line> {{project.name}}</h3>
          <a [routerLink]="['/projects/',project.id,'tasks']" class="inheritColor">
            <button mat-icon-button>
              <mat-icon>list</mat-icon>
            </button>
          </a>
          <ng-container *ngIf="teamProject.role === 'MANAGER'">
            <a [routerLink]="['/projects/',project.id]" class="inheritColor">
              <button mat-icon-button>
                <mat-icon>settings</mat-icon>
              </button>
            </a>
          </ng-container>
        </mat-list-item>
      </mat-list>
      <button (click)="openAddProjectToTeam(teamProject)" *ngIf="teamProject.role === 'MANAGER'" color="primary" mat-fab
              style="float: right">
        <mat-icon>add</mat-icon>
      </button>
    </mat-tab>
  </mat-tab-group>
</div>
