<div>
  <div class="row mb-3">
    <h2>Manage team: <b>{{team.name}}</b></h2>
  </div>
  <div class="container">
    <div class="row my-2">
      <h3>Change team name</h3>
    </div>
    <app-edit-team (nameChanged)="onNameChanged($event)" [events]="eventsSubject.asObservable()"
                   [team]="team"></app-edit-team>

    <div class="row my-2">
      <h3>Manage roles</h3>
    </div>
    <app-manage-team-roles (teamRoleDeleted)="onTeamRoleDeleted($event)"
                           [teamRoles]="team.teamRoles"></app-manage-team-roles>

    <div class="row my-2">
      <h3>Add users</h3>
    </div>
    <form (ngSubmit)="onAddTeamRoles()">
      <app-dynamic-usernames-form></app-dynamic-usernames-form>
      <div class="form-actions">
        <button class="btn btn-success" type="submit">Add users</button>
      </div>
    </form>
    <div class="row my-2">
      <h3>Delete team</h3>
    </div>
    <button (click)="onDeleteTeam()" class="btn btn-danger">Delete team</button>
  </div>
</div>
