<div>
  <button [routerLink]="['/messages']" color="primary" mat-fab>
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div class="my-4">
  <app-single-message [message]="invertedRepliesMessage"></app-single-message>
  <div *ngIf="message.attachments.length > 0">
    <p><b>Attachments</b></p>
    <mat-list role="list">
      <mat-list-item (click)="onAttachmentDownload(attachment)" *ngFor="let attachment of message.attachments"
                     role="listitem">
        {{attachment.fileName}}
      </mat-list-item>
    </mat-list>
  </div>
</div>
