<h2>Add task to project {{project.name}}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="taskCreateForm">
    <div>
      <mat-form-field>
        <mat-label>Enter Name</mat-label>
        <input formControlName="name" matInput type="text">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Start date</mat-label>
        <input [matDatepicker]="picker1" formControlName="startDate" id="picker1" matInput>
        <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>End date</mat-label>
        <input [matDatepicker]="picker2" formControlName="endDate" id="picker2" matInput>
        <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <button color="primary" mat-raised-button type="submit">Add</button>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="onNoClick()" mat-button mat-dialog-close>Cancel</button>
  <button [mat-dialog-close]="onYesClick()" cdkFocusInitial mat-button>Add</button>
</mat-dialog-actions>
