<div>
  <h1>Add project</h1>
  <form (ngSubmit)="onSubmit(projectCreateForm.value)" [formGroup]="projectCreateForm" class="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" formControlName="name" id="name" name="name" placeholder="Enter project name"
             type="text"/>
    </div>
    <div class="form-group">
      <label>Add users</label><br>
      <!--      TODO Add users here-->
    </div>
    <div class="form-group" id="users">

    </div>
    <div class="form-actions">
      <button class="btn btn-info" type="submit">Add project</button>
    </div>
  </form>
</div>
