/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.width50vw {
  width: 50vw;
}

.inheritColor {
  color: inherit;
}

table {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.right {
  justify-content: flex-end;
}
