<nav class="navbar navbar-inverse navbar-expand-xl navbar-dark fixed-top">
  <div class="navbar-header d-flex col">
    <a class="navbar-brand" href="#"><i class="fas fa-cube"></i>Projecty</a>
    <button class="navbar-toggle navbar-toggler ml-auto" data-target="#navbarCollapse" data-toggle="collapse"
            type="button">
      <span class="navbar-toggler-icon"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse justify-content-start" id="navbarCollapse">
    <ul class="nav navbar-nav navbar-right ml-auto">
      <ng-container *ngIf="!isLoggedIn(); else elseBlock">
        <li class="nav-item">
          <a [routerLink]="['/login']" class="nav-link">
            <i class="fas fa-sign-in-alt"></i>
            Sign in
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-sign-in-alt"></i>
            Sign up
          </a>
        </li>
      </ng-container>
      <ng-template #elseBlock>
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/projects']" class="nav-link">
            <i class="fas fa-project-diagram"></i>
            <span>Projects</span>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/teams']" class="nav-link">
            <i class="fas fa-users"></i>
            <span>Teams</span>
          </a>
        </li>
        <!--        <li class="nav-item">-->
        <!--            <i class="fas fa-comments"></i>-->
        <!--            <span>Chat</span>-->
        <!--        </li>-->
        <!--        <li class="nav-item">-->
        <!--            <i class="fas fa-envelope"></i>-->
        <!--            <span>Messages</span>-->
        <!--            <span class="text-warning">(0)</span>-->
        <!--        </li>-->
        <!--        <li class="nav-item">-->
        <!--            <i class="fas fa-bell"></i>-->
        <!--            <span>Notifications</span>-->
        <!--            <template v-if="unreadNotificationCount>0">-->
        <!--              <span class="badge badge-warning">0</span>-->
        <!--            </template>-->
        <!--        </li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle user-action" data-toggle="dropdown" href="#">
            <img class="avatar" id="avatar"/>{{getUsername()}}<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><i class="fa fa-user-o"></i> Profile</a></li>
            <li>
              <i class="fa fa-sliders"></i>
              Settings
            </li>
            <li class="divider dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="#">
                <i class="material-icons">&#xE8AC;</i>Logout
              </a>
            </li>
          </ul>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
