<h2 mat-dialog-title>Create new project</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="projectCreateForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" formControlName="name" id="name" name="name" placeholder="Enter project name"
             type="text"/>
    </div>
    <label>Add users</label><br>
    <app-dynamic-usernames-form></app-dynamic-usernames-form>
    <div class="form-group" id="users">
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="onNoClick()" mat-button mat-dialog-close>Cancel</button>
  <button [mat-dialog-close]="onYesClick()" cdkFocusInitial mat-button>Create</button>
</mat-dialog-actions>
